/* COMMON */
.body__container {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

/* BTN */
.btn {
  height: 34px;
  background: #eee linear-gradient(to bottom, #fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.btn:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.07);
}

.btn.btn--primary {
  border: 1px solid #65b836;
  color: #fff;
  background: #55a532 linear-gradient(#91dd70, #55ae2e);
}

/* INPUT TEXT */
.input--text {
  height: 34px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  /* inset 안쪽 그림자 x축 이동거리 0 y는 1 블러 2px 그림자 색 */
  font-size: 16px;
}

.input--text:focus {
  border-color: #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075),
    0 0 5px rgba(81, 167, 232, 0.5);
} /* 쉼표 통해 다중 그림자 삽입 가능*/

/* Vendor Prefix (브라우저 업체별 접두사)
업체별 접두사를 통해 이 기능은 표준 기능은 아니지만, 
현재 브라우저에서 실험적으로 제공되고 있는 기능이라는 것을 알려줌 */
.input--text::-webkit-input-placeholder {
  color: #cacaca;
}
.input--text::-ms-input-placeholder {
  color: #cacaca;
}
.input--text::-moz-input-placeholder {
  color: #cacaca;
} /* 파이어폭스 */

/* FLOAT CLEARFIX */
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}
/* html에 float 클래스만 부여하면 float내용 정의 가능 */

/* SUMMARY */
.summrary {
}

.summary__title {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 18px;
}

.summary__description {
  font-size: 26px;
  font-weight: 300;
  color: #767676;
  line-height: 1.5;
}

/* SECTION & INNER */
.section {
  position: relative;
  /* position relative : 기준이 되는 부분을 자기 자신으로 설정하는 값 */
}

.section .inner {
  /* 공통요소로 만들기 */
  max-width: 980px;
  margin: 0 auto;
  box-sizing: border-box;
  /* inner에 border, padding 들어갔을 때 무분별하게 늘어나는 것 방지 */
  position: relative;
  /* position absolute가 inner내부에서 사용됐을 때, 
  일단 inner에서 1차적으로 걸리게 하기 위해 relative 추가 */
}

/* HEADER */
header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

header .inner {
  /* max-width: 980px; */
  /* 왜 inner에? : 부모요소가 자식요소에 영향을 받기 때문에 한번만 입력 가능 */
  height: 78px;
  /* margin: 0 auto; */
  /* margin: 0 auto; 로 가운데정렬 시 주의사항
: 특정한 요소의 가로 사이즈가 정해져 있어야! */
  position: relative;
}

header .menu-group {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 10px;
  width: 50%;
}

header .logo a {
  background: url("../img/logo.svg");
  width: 32px;
  height: 32px;
  display: block;
  text-indent: -9999px;
  /* 화면에선 사라졌지만 html의 구조적으로는 텍스트 존재하기 때문에 대체 텍스트의 역할
  -9999: 대체 텍스트 기법 사용 인식 */
}

header .logo a:hover {
  background: url("../img/logo_on.svg");
}

header .main-menu {
  display: flex;
}

header .main-menu li a {
  /* a 태그는 기본 display가 inline
  inline요소는 padding의 위 아래 값 제대로 사용할 수 X */
  display: block;
  padding: 10px;
  /* 클릭 가능한 너비 확보 */
  color: #3c4146;
  text-decoration: none;
}

header .main-menu li a:hover {
  color: #4078c0;
}

header .sign-group {
  display: flex;
  align-items: center;
  height: 100%;
  /* 높이값을 부모요소의 inner에 맞추기 위해 height 100% 먼저 부여*/
}

header .btn-group {
  order: 2;
  /* order 통해 배치 순서 정의 */
  display: flex;
}

header .btn-group .sign-in {
  margin-right: 4px;
}

header .btn-group a {
  text-decoration: none;
}

#search-form {
  /* id 선택자는 고유한 요소이기 때문에 부모 요소 명시 생략 가능 */
  order: 1;
  margin-right: 12px;
}

#search {
  width: 160px;
  font-size: 14px;
}

#search + [type="submit"] {
  /* 형제 선택자 + */
  display: none;
}

header .sub-menu {
  display: flex;
  margin-right: 10px;
  /* height: 100%;
  align-items: center; */
  /* justify-content: space-between;
  padding: 10px;
  width: 200px; */
  /* order:0; 생략가능 */
}

header .sub-menu li a {
  text-decoration: none;
  padding: 8px;
  display: block;
  /* 기본적으로 a태그는 inline 요소, padding 위아래 값 제대로 못 가지기 때문에 block 요소로 */
  font-size: 13px;
  color: #3c4146;
}

header .sub-menu li a:hover {
  color: #4078c0;
}

/* VISUAL */

.section--visual {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  /* 배경사이즈가 요소의 전체 영역 커버(확대 축소 시 변경 x) */
  /* 여기엔 없지만! 공통적으로 가지고 있는 section클래스에 정의 되어있음! */
}

.section--visual::before {
  content: "";
  position: absolute;
  /* 무조건 부모 요소에 position absolute를 처리할 수 있는 position값이 있는지 없는지 확인해야
   before라는 가상요소가 붙어있는 선택자: .section--visual, but */
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  /* 배경 어둡게 만들기 */
}

.section--visual .inner {
  padding: 160px 0;
  /* 위아래 내부 여백 */
}

.section--visual .summary__title {
  color: #fff;
  font-size: 54px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
  /* 텍스트에 그림자 추가 */
}

.section--visual .summary__description {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 1px 25px rgba(0, 0, 0, 0.75);
}
